# Node modules
node_modules/

# .env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp

# OS-specific
*.swp
.idea/
.vscode/

# Test coverage
coverage/

# Ignore data files 
# models/users.json
# models/books.json
